@font-face {
  src: url(../assets/font/Pixeboy-z8XGD.ttf) format("truetype");
  font-family: "retro";
}
@font-face {
  font-family: "office-font";
  src: url(../assets/font/AmericanTypewriter_Medium.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}
:root {
  --bgColor: #606c38;
  --gameColor: #283618;
  --btnColor: #dda15e;
  --txtColor: #fefae0;
}

html {
  background-color: var(--bgColor);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  height: 600px;
  background-color: var(--gameColor);
  border-radius: 25px;
  padding: 30px;
  box-shadow: 7.8px 12.1px 21.3px rgba(0, 0, 0, 0.28),
    16.7px 26.2px 45px rgba(0, 0, 0, 0.336), 32px 50px 94px rgba(0, 0, 0, 0.177);
}

.text {
  color: var(--txtColor);
  font-family: "retro";
  letter-spacing: 0.2em;
  text-align: justify;
}
.btn:hover.text {
  color: var(--btnColor);
}
.btnGroupe {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: var(--btnColor);
  border: none;
  border-radius: 5px;
  height: 40px;
  padding: 0.5em;
}

.btn:hover {
  background-color: var(--txtColor);
}

.title {
  color: var(--txtColor);
  align-self: center;
  font-family: "office-font";
}
h1 {
  margin: 0;
  font-size: 250%;
}
h2 {
  margin: 0;
}
h3 {
  color: var(--txtColor);
}
.text,
.btn {
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.highlight {
  display: inline-block;
  position: absolute;
  mix-blend-mode: screen;
  background-color: var(--btnColor);
  height: 80px;
  width: 0%;
  transition: width 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateX(-5px);
}

.title:hover .highlight {
  width: 216.25px;
}

.anim_bcg {
  top: 0;
  z-index: -1;
  opacity: 0;
}

.dwight,
.jim,
.micheal,
.pen,
.folder,
.computer,
.coffe {
  width: 100px;
  position: absolute;
  top: 0;
}

.btn-reset {
  position: relative;
  top: 10px;
  left: 10px;
  color: var(--txtColor);
  margin-top: 10px;
  margin-left: 10px;
  width: 120px;
  height: 40px;
  font-family: "retro";
  font-size: 15px;
  background-color: var(--btnColor);
  border: none;
  border-radius: 5px;
  height: 40px;
  padding: 0.5em;
  letter-spacing: 0.1em;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.btn-reset:hover {
  background-color: var(--txtColor);
  color: var(--btnColor);
}

.son {
  color: var(--txtColor);
  position: relative;
  top: -2px;
}

label.son-groupe {
  width: 50px;
}

.if-js-marche-pas {
  position: absolute;
  top: 10px;
  left: 10px;
}

body.style1 .game {
  background-color: rgb(202, 65, 61);
}

body.style1 html {
  background-color: black;
}
